@import url('https://fonts.cdnfonts.com/css/satoshi');

@font-face {
  font-family: 'Integral CF';
  src:
    local('Integral CF Bold'),
    local('Integral-CF-Bold'),
    url('../assets/fonts/IntegralCF-Bold.woff2') format('woff2'),
    url('../assets/fonts/IntegralCF-Bold.woff') format('woff'),
    url('../assets/fonts/IntegralCF-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
